<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<div>
		{{#each burger_name}}
	</div>
	<div>
		{{#each devoured }}
	</div>
		}
</head>
<body>
	
</body>
</html>